
.baner{
    width:100%;
    height:260px;
    overflow:hidden;
}

.baner img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:top;
    display:block;
}


main{
    padding:70px 40px;
}

.ramka{
    border:2px solid #CFDBCE;
    border-radius:18px;
    padding:35px;
    margin:0 auto;
    max-width:900px;
    background-color:#F7FFF5;
}

h1{
    color:#363D33;
    font-size:38px;
    font-weight:bold;
    text-align:center;
    margin-top:0;
}

p{
    color:#6F8069;
    font-size:18px;
    line-height:1.6;
}