
main{
    padding:60px 40px;
}

.ramkarejestracja{
    max-width:700px;
    margin:0 auto;
    padding:35px;
    background-color:#F7FFF5;
    border:2px solid #CFDBCE;
    border-radius:18px;
}

.tytulrejestracja{
    color:#363D33;
    text-align:center;
    font-size:38px;
    margin-top:0;
}

.opisrejestracja{
    color:#6F8069;
    text-align:center;
    font-size:18px;
    margin-bottom:35px;
}

.formarejestracja{
    display:flex;
    flex-direction:column;
    max-width:700px;
    margin:0 auto;
}

.etykietarejestracja{
    color:#363D33;
    font-weight:bold;
    margin-bottom:10px;
}

.inputrejestracja{
    padding:14px;
    border:2px solid #CFDBCE;
    border-radius:10px;
    font-size:16px;
    margin-bottom:25px;
}

.przyciskrejestracja{
    background:linear-gradient(180deg, #E0AF3A 0%, #D6A533 55%, #9E771E 100%);
    color:#FFFBED;
    border:2px solid #8A6716;
    border-radius:12px;
    padding:14px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    width:100%;
}

.przyciskrejestracja:hover{
    background:linear-gradient(180deg, #EDBC47 0%, #DEAE3D 55%, #B78928 100%);
}

@media(max-width:768px){
    main{
        padding:30px 15px;
    }

    .ramkarejestracja{
        padding:24px;
        max-width:100%;
    }

    .tytulrejestracja{
        font-size:30px;
    }

    .formarejestracja{
        max-width:100%;
    }

    .inputrejestracja{
        font-size:15px;
        padding:12px;
    }
}