<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/dodanie.css}">
    <title>Dadanie książek</title>
</head>
<script th:src="@{/js/script.js}"></script>
<body>
<th:block th:replace="blocks/header :: header"></th:block>
    <main>
        <section class="ramkadodanie animacja">
         <h1 class="tytuldodanie">Dodanie książki</h1>
        <p class="opisdodanie">
            Tutaj możesz dodać książkę napisaną przez siebie albo znalezioną przez ciebie.
            Wypełnij formularz i wybierz najbardziej pasujące tagi.
        </p>
        </section>

        <section class="ramkadodanie animacja">
            <h2 class="tytulformularz">Formularz dodawania książki</h2>

            <form  class="formadodanie">
                <label  class="etykietadodanie" for="okladka">Dodaj obraz książki:</label>
                <input  class="inputdodanie" type="file" id="okladka" name="okladka">

                <label class="etykietadodanie" for="tytul">Tytuł książki:</label>
                <input class="inputdodanie" type="text" id="tytul" name="tytul">

                <label  class="etykietadodanie" for="autor">Autor:</label>
                <input class="inputdodanie" type="text" id="autor" name="autor">

                <label class="etykietadodanie"  for="opis">Opis książki:</label>
                <textarea class="areadodanie" id="opis" name="opis" rows="5"></textarea>
                
                <button class="przyciskdodanie"  type="submit">Dodaj książkę</button>
            </form>
        </section>
    </main>
    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>