<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/katalog.css}">
    <title>Katalog książek</title>
</head>
<script th:src="@{/js/script.js}"></script>
<body>
<th:block th:replace="blocks/header :: header"></th:block>
    <main  class="glowna">
        <section class="ramkakatalog animacja">
        <h1 class="tytulkatalog">Katalog książek</h1>
        <p class="opiskatalog">
            Tutaj znajduje się nasz katalog książek na każdy smak. Możesz wyszukiwać książki po tytule
            albo wybrać odpowiedni tag.
        </p>
        </section>
        <section  class="ramkakatalog animacja">
            <h2 class="tytulszukaj">Wyszukiwanie książek</h2>

            <form  class="formakatalog">
                <label class="etykietakatalog" for="szukaj">Wpisz nazwę książki:</label>
                <input class="inputkatalog" type="text" id="szukaj" name="szukaj" placeholder="Np. Wiedźmin">

                <button class="przyciskkatalog" type="submit">Szukaj</button>
            </form>
        </section>
    </main>
<div th:insert="blocks/footer :: footer"></div>
<div class="menu-overlay" id="menuOverlay"></div>
</body>
</html>