<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/mojeksiazki.css}">
    <title>Moje książki</title>
</head>
<script th:src="@{/js/script.js}"></script>
<body>
<th:block th:replace="blocks/header :: header"></th:block>
    <main>
        <section class="ramkamoje animacja">
        <h1 class="tytulmoje">Moje książki</h1>
        <p class="opismoje">
            Tutaj znajdują się zapisane przez ciebie książki. Wybierz książkę i ciesz się czytaniem.
        </p>
        </section>
        <section class="ramkamoje animacja">
            <h2 class="tytulszukaniemoje">Wyszukiwanie zapisanych książek</h2>

            <form class="formamoje">
                <label class="etykietamoje" for="szukaj">Wpisz nazwę książki:</label>
                <input class="inputmoje" type="text" id="szukaj" name="szukaj" placeholder="Np. Hobbit">

                <button class="przyciskmoje" type="submit">Szukaj</button>
            </form>
        </section>
    </main>
<div th:insert="blocks/footer :: footer"></div>
<div class="menu-overlay" id="menuOverlay"></div>
</body>
</html>