<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/rejestracja.css}">
    <title>Rejestracja</title>
</head>
<body>
<th:block th:replace="blocks/header :: header"></th:block>
     <main>
        <section class="ramkarejestracja">
        <h1 class="tytulrejestracja">Rejestracja</h1>
        <p class="opisrejestracja">Zarejestruj się do naszej aplikacji</p>
        </section>

         <form class="formarejestracja">
             <label class="etykietarejestracja" for="email">Adres e-mail:</label>
             <input class="inputrejestracja" type="email" id="email" name="email">

             <label class="etykietarejestracja" for="haslo">Hasło:</label>
             <input class="inputrejestracja" type="password" id="haslo" name="haslo">

             <label class="etykietarejestracja" for="powtorzHaslo">Powtórz hasło:</label>
             <input class="inputrejestracja" type="password" id="powtorzHaslo" name="powtorzHaslo">

             <button class="przyciskrejestracja" type="submit">Zarejestruj się</button>
         </form>
    </main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>